services:

  jenkins:
    build:
      context: .
      dockerfile: dockerfile-jenkins
      args:
        JENKINS_IMAGE_VERSION: "${JENKINS_IMAGE_VERSION}"
    restart: unless-stopped
    ports:
      - "80:8080"
      # - "50000:50000"
    networks:
      net1:
    environment:
      - JENKINS_ADMIN_ID=${JENKINS_ADMIN_ID}
      - JENKINS_ADMIN_PASSWORD=${JENKINS_ADMIN_PASSWORD}
      - JENKINS_CONTROLLER_URL=${JENKINS_CONTROLLER_URL}
      - JENKINS_GITLAB_URL=${JENKINS_GITLAB_URL}
      - JENKINS_GITLAB_GIT_REPO_URL=${JENKINS_GITLAB_GIT_REPO_URL}
      - JENKINS_GITLAB_GIT_USER=${JENKINS_GITLAB_GIT_USER}
      - JENKINS_GITLAB_GIT_PAT=${JENKINS_GITLAB_GIT_PAT}
      - JENKINS_GITLAB_API_PAT=${JENKINS_GITLAB_API_PAT}
      - JENKINS_AGENT_SSH_PRIVKEY_FILE=/ssh-agent-keys/key
    volumes:
      - jenkins-data:/var/jenkins_home
      - ./ssh-agent-keys:/ssh-agent-keys:ro


  dind:
    image: "docker:${JENKINS_DIND_IMAGE_VERSION}"
    restart: unless-stopped
    privileged: true
    # ports:
    #   - "2376:2376"
    networks:
      net1:
        aliases:
          - docker
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-agent-data:/home/jenkins
      - jenkins-docker-certs:/certs/client


  ssh-agent:
    build:
      context: .
      dockerfile: dockerfile-jenkins-agent
      args:
        JENKINS_AGENT_IMAGE_VERSION: "${JENKINS_AGENT_IMAGE_VERSION}"
    restart: unless-stopped
    networks:
      net1:
        aliases:
          - agent
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - JENKINS_AGENT_SSH_PUBKEY_FILE=/ssh-agent-keys/key.pub
    volumes:
      - jenkins-agent-data:/home/jenkins
      - ./ssh-agent-keys:/ssh-agent-keys:ro
      - jenkins-docker-certs:/certs/client:ro


networks:
  net1:

volumes:
  jenkins-data:
  jenkins-docker-certs:
  jenkins-agent-data:
