networks:
  net1:

services:
  autoheal:
    image: "willfarrell/autoheal:${PROJECT_EXPORTER_IMAGE_AUTOHEAL_VERSION:-latest}"
    container_name: autoheal
    restart: unless-stopped
    networks:
      - net1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
      AUTOHEAL_INTERVAL: 10


  registry:
    image: "registry:${PROJECT_REGISTRY_IMAGE_VERSION:-3}"
    container_name: registry
    restart: unless-stopped
    networks:
      - net1
    volumes:
      - ./registry-data:/var/lib/registry


  nginx:
    image: "nginx:${PROJECT_REGISTRY_NGINX_IMAGE_VERSION:-alpine}"
    container_name: nginx
    restart: unless-stopped
    networks:
      - net1
    ports:
      - "443:443"
    volumes:
      - ./letsencrypt:/etc/letsencrypt:r
      - ./proxy.conf:/etc/nginx/conf.d/default.conf:r
      - ./auth:/auth:r


  certbot:
    image: "certbot/certbot:${PROJECT_CERTBOT_IMAGE_VERSION:-latest}"
    container_name: certbot
    restart: no
    networks:
      - net1
    ports:
      - "80:80"
    volumes:
      - ./letsencrypt:/etc/letsencrypt
    environment:
      CERTBOT_DOMAIN: ${CERTBOT_DOMAIN}
    entrypoint: []
    command: ["certbot", "renew"]
# # issue new cert
# docker compose run --rm --service-ports certbot sh -c 'certbot certonly --agree-tos --standalone -n -d "$CERTBOT_DOMAIN"'
# # renew cert
# docker compose run --rm --service-ports certbot
# # add registry auth
# docker run --rm --entrypoint htpasswd httpd -Bbn testuser testpassword > auth/registry.htpasswd
