---

- name: Check whether your OS is supported
  ansible.builtin.assert:
    quiet: true
    that:
      - ansible_os_family | lower in elk__os_supported | list
    fail_msg: Your OS is not supported


- name: Stop systemd units
  ansible.builtin.systemd_service:
    name: "{{ item.unit }}"
    force: true
    enabled: false
    state: stopped
  loop_control:
    label: "{{ item.unit }}"
  loop:
    - unit: "{{ elk__name_systemd_service }}.service"
  failed_when: false


- name: Set system max_map_count
  ansible.posix.sysctl:
    name: vm.max_map_count
    value: 262144
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/elastic.conf


- name: Upload files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "0644"
    force: true
  loop_control:
    label: "{{ item.name | default(item.src, true) }}"
  loop:
    - src: .
      name: All files
      dst: "{{ elk__workdir }}/"


- name: Upload systemd units
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "0644"
    force: true
  loop_control:
    label: "{{ item.dst }}"
  loop:
    - src: docker-compose.service.j2
      dst: "/etc/systemd/system/{{ elk__name_systemd_service }}.service"


- name: Populate env
  ansible.builtin.lineinfile:
    path: "{{ (elk__workdir, item.file) | path_join }}"
    mode: "0640"
    create: true
    line: "{{ item.var }}={{ item.value }}"
    regexp: "^\\s*{{ item.var | regex_escape }}\\s*=.*$"
  loop_control:
    label: "{{ item.var }}"
  loop:
    - file: .env
      var: PROJECT_COMPOSE_NAME
      value: "{{ elk__name_systemd_service }}"
    - file: .env
      var: PROJECT_ELASTIC_PASSWORD
      value: "{{ elk__elastic_password }}"
    - file: .env
      var: PROJECT_ELASTIC_LOGSTASH_PASSWORD
      value: "{{ elk__elastic_logstash_password }}"
    - file: .env
      var: PROJECT_ELASTIC_KIBANA_PASSWORD
      value: "{{ elk__elastic_kibana_password }}"
    - file: .env
      var: PROJECT_KIBANA_DOMAIN
      value: "{{ elk__kibana_domain }}"
    - file: .env
      var: PROJECT_KIBANA_SESSION_KEY
      value: "{{ elk__kibana_session_key }}"
    - file: .env
      var: PROJECT_KIBANA_STORAGE_KEY
      value: "{{ elk__kibana_storage_key }}"
    - file: .env
      var: PROJECT_HOST_HOSTNAME
      value: "{{ elk__hostname }}"


- name: Restart systemd units
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    state: restarted
    name: "{{ item.unit }}"
  loop_control:
    label: "{{ item.unit }}"
  loop:
    - unit: "{{ elk__name_systemd_service }}.service"
