
output {
  elasticsearch {
    hosts => ["https://elastic1:9200"]
    ssl_certificate_authorities => ['/usr/share/logstash/config/certs/ca/ca.crt']
    user => "logstash_internal"
    password => "${PROJECT_ELASTIC_LOGSTASH_PASSWORD}"

#    index => "logstash-%{+YYYY.MM.dd}"
#    data_stream => false
    data_stream_type => "logs"
    data_stream_dataset => "logstash"
  }
#  file {
#    path => "/tmp/logstash.log"
#  }
}
