---
- name: Check whether your OS is supported
  ansible.builtin.assert:
    that:
      - ansible_facts['architecture'] == 'x86_64'
      - ansible_facts['distribution'] | lower in install_consul__os_constants.keys() | list
    fail_msg: Your OS is not supported

- name: Facts
  ansible.builtin.set_fact:
    install_consul__os_vars: "{{ install_consul__os_constants[ansible_facts['distribution'] | lower] }}"

- name: Get package info
  ansible.builtin.command: apt-cache policy consul
  register: install_consul__package_info_output
  environment:
    LANG: en_US.UTF-8
    LC_ALL: en_US.UTF-8
  changed_when: false

- name: Parse package info
  ansible.builtin.set_fact:
    install_consul__need_specific_version: "{{ install_consul__version_needed != '' }}"
    install_consul__installed_version: >-
      {{ install_consul__package_info_output.stdout | regex_search('\sInstalled:\s+(\S+)', '\1') | first }}
    install_consul__latest_version: >-
      {{ install_consul__package_info_output.stdout | regex_search('\sCandidate:\s+(\S+)', '\1') | first }}

- name: Check if it is installed
  ansible.builtin.set_fact:
    install_consul__repo_installed: >-
      {{ install_consul__latest_version not in ['(none)', ''] }}
    install_consul__already_installed: >-
      {{ install_consul__installed_version not in ['(none)', ''] }}

- name: Results
  ansible.builtin.debug:
    verbosity: 1
    msg: [
      "if repo installed: {{ install_consul__repo_installed }}",
      "latest available: {{ install_consul__latest_version }}",
      "if installed: {{ install_consul__already_installed }}",
      "installed version: {{ install_consul__installed_version }}",
      "if specific version needed: {{ install_consul__need_specific_version }}",
      "version needed: {{ install_consul__version_needed }}"
    ]

- name: Download GPG key
  ansible.builtin.get_url:
    url: https://apt.releases.hashicorp.com/gpg
    dest: /etc/apt/keyrings/hashicorp-archive-keyring.gpg.asc
    mode: "0644"
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: Add repo
  ansible.builtin.apt_repository:
    repo: "{{ install_consul__os_vars['repo_url'] }}"
    filename: hashicorp   # .list will be added to the filename automatically
    state: present
    update_cache: true
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: Get package info again
  ansible.builtin.command: apt-cache policy consul
  register: install_consul__package_info_output
  environment:
    LANG: en_US.UTF-8
    LC_ALL: en_US.UTF-8
  changed_when: false
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: Parse package info again
  ansible.builtin.set_fact:
    install_consul__need_specific_version: "{{ install_consul__version_needed != '' }}"
    install_consul__installed_version: >-
      {{ install_consul__package_info_output.stdout | regex_search('\sInstalled:\s+(\S+)', '\1') | first }}
    install_consul__latest_version: >-
      {{ install_consul__package_info_output.stdout | regex_search('\sCandidate:\s+(\S+)', '\1') | first }}
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: Check again if it is installed
  ansible.builtin.set_fact:
    install_consul__repo_installed: >-
      {{ install_consul__latest_version not in ['(none)', ''] }}
    install_consul__already_installed: >-
      {{ install_consul__installed_version not in ['(none)', ''] }}
  when: not install_consul__repo_installed or install_consul__force_update_repo

- name: New results
  ansible.builtin.debug:
    verbosity: 1
    msg: [
      "if repo installed: {{ install_consul__repo_installed }}",
      "latest available: {{ install_consul__latest_version }}",
      "if installed: {{ install_consul__already_installed }}",
      "installed version: {{ install_consul__installed_version }}",
      "if specific version needed: {{ install_consul__need_specific_version }}",
      "version needed: {{ install_consul__version_needed }}"
    ]

- name: Install latest version  # noqa: package-latest
  ansible.builtin.apt:
    name: consul
    state: latest
    allow_downgrade: true
  when: >
    install_consul__repo_installed and
    not install_consul__need_specific_version and
    (
      install_consul__force_install or
      install_consul__latest_version != install_consul__installed_version
    )

- name: Install specific version
  ansible.builtin.apt:
    name: "consul={{ install_consul__version_needed }}"
    allow_downgrade: true
  when: >
    install_consul__repo_installed and
    install_consul__need_specific_version and
    (
      install_consul__force_install or
      install_consul__version_needed != install_consul__installed_version
    )
