---

# stop exporters service if running. Safe if not exist
- name: If systemd units exist   # noqa: command-instead-of-module
  ansible.builtin.command: "systemctl show -p LoadState {{ item.unit }}"
  register: registry_setup__unit_status
  failed_when: false
  changed_when: false
  loop_control:
    label: "{{ item.unit }}"
  loop:
    - unit: "{{ registry_setup__name_systemd_certbot }}.timer"
    - unit: "{{ registry_setup__name_systemd_certbot }}.service"
    - unit: "{{ registry_setup__name_systemd_registry }}.service"


- name: Stop systemd units
  ansible.builtin.systemd_service:
    name: "{{ svc.item.unit }}"
    force: true
    enabled: false
    state: stopped
  when: "'LoadState=loaded' in svc.stdout"
  loop_control:
    loop_var: svc
    label: "{{ svc.item.unit }}"
  loop: "{{ registry_setup__unit_status.results }}"


- name: Create files
  ansible.builtin.file:
    path: "{{ item.dst }}"
    state: "{{ item.state }}"
    mode: "{{ item.mode }}"
  loop_control:
    label: "{{ item.dst }}"
  loop:
    - state: directory
      dst: "{{ registry_setup__workdir }}/auth/"
      mode: "0755"
    - state: touch
      dst: "{{ registry_setup__workdir }}/auth/registry.htpasswd"
      mode: "0644"


- name: Upload files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "0644"
    force: true
  loop_control:
    label: "{{ item.src }}"
  loop:
    - src: docker-compose.yaml
      dst: "{{ registry_setup__workdir }}/"


- name: Upload systemd units
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: "0644"
    force: true
  loop_control:
    label: "{{ item.dst }}"
  loop:
    - src: registry.service.j2
      dst: "/etc/systemd/system/{{ registry_setup__name_systemd_registry }}.service"
    - src: certbot.service.j2
      dst: "/etc/systemd/system/{{ registry_setup__name_systemd_certbot }}.service"
    - src: certbot.timer.j2
      dst: "/etc/systemd/system/{{ registry_setup__name_systemd_certbot }}.timer"
    - src: proxy.conf.j2
      dst: "{{ registry_setup__workdir }}/proxy.conf"


- name: Populate env
  ansible.builtin.lineinfile:
    path: "{{ (registry_setup__workdir, item.file) | path_join }}"
    mode: "0640"
    create: true
    line: "{{ item.var }}={{ item.value }}"
    regexp: "^\\s*{{ item.var | regex_escape }}\\s*=.*$"
  loop_control:
    label: "{{ item.var }}"
  loop:
    - file: .env
      var: CERTBOT_DOMAIN
      value: "{{ registry_setup__domain_name }}"


- name: Restart systemd units
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    state: restarted
    name: "{{ item.unit }}"
  loop_control:
    label: "{{ item.unit }}"
  loop:
    - unit: "{{ registry_setup__name_systemd_certbot }}.timer"
    - unit: "{{ registry_setup__name_systemd_certbot }}.service"
    - unit: "{{ registry_setup__name_systemd_registry }}.service"
